@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #2874f0;
    ;
    font-family: 'Lato', sans-serif;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    height: 12vh;
    background-color: #2874f0;
    ;
    color: white;
    font-family: 'Lato', sans-serif;
}